# Data preparation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Sales/traffic Data

### Merge (if not done before)

In [ ]:
# sales_clean = pd.read_csv('data/1208_LasVegas_South_sales_cleaned.csv')

In [ ]:
# sales_clean.head(3)

In [ ]:
# sales_clean.date = pd.to_datetime(sales_clean.date, format='%m/%d/%y')
# sales_clean = sales_clean[['date', 'sales_original', 'sales_cleaned']]

In [ ]:
# traffic_clean = pd.read_csv('data/1208_LasVegas_South_traffic_cleaned.csv')

In [ ]:
# traffic_clean.head(3)

In [ ]:
# traffic_clean.date = pd.to_datetime(traffic_clean.date, format='%m/%d/%y')
# traffic_clean = traffic_clean[['date', 'traffic_original', 'traffic_cleaned']]

In [ ]:
# assert sales_clean.shape[0] == traffic_clean.shape[0]

In [ ]:
# sales_traffic_clean = pd.merge(sales_clean, traffic_clean, on='date')

In [ ]:
# sales_traffic_clean.info()

### Read data (if merged before)

In [11]:
CITY_NAME = 'LAS VEGAS'
STORE_NAME = 'LAS VEGAS NORTH'

In [12]:
sales_traffic_clean = pd.read_csv('sales_traffic_' + STORE_NAME + '.csv')

In [13]:
sales_traffic_clean.head(3)

,date,sales_original,sales_cleaned,traffic_original,traffic_cleaned
0,2017-04-02,46959.20,-97.997967,18808,5.189443
1,2017-04-03,71064.00,-57.116316,24240,1.124562
2,2017-04-04,68380.46,-34.693893,22968,-8.954464

In [14]:
sales_traffic_clean.date = pd.to_datetime(sales_traffic_clean.date, format='%Y-%m-%d')

In [15]:
# Constant date values
DATE_MIN = sales_traffic_clean.date.min().normalize()
DATE_MAX = sales_traffic_clean.date.max().normalize()

In [16]:
DATE_MIN, DATE_MAX

(Timestamp('2017-04-02 00:00:00'), Timestamp('2019-09-28 00:00:00'))

## Events Data

In [22]:
# Constant location for stores
LAT_STORE, LON_STORE = {}, {}

LAT_STORE['ORLANDO FOA'] = 28.473595
LAT_STORE['LAKE BUENA VISTA FOA'] = 28.387852
LAT_STORE['LANCASTER FSC'] = 40.025636
LAT_STORE['LAS VEGAS NORTH'] = 36.170727
LAT_STORE['LAS VEGAS SOUTH'] = 36.056725

LON_STORE['ORLANDO FOA'] = -81.451615
LON_STORE['LAKE BUENA VISTA FOA'] = -81.493674
LON_STORE['LANCASTER FSC'] = -76.217167
LON_STORE['LAS VEGAS NORTH'] = -115.157651
LON_STORE['LAS VEGAS SOUTH'] = -115.170121

In [17]:
events = pd.read_csv('events_' + CITY_NAME + '.csv')

In [18]:
events.head(5)

,id,title,description,start,end,predicted_end,duration,labels,category,timezone,...,location,venue_name,venue_formatted_address,scope,rank,local_rank,aviation_rank,state,first_seen,venue_type
0,QMkyB7YCXgZQqsWB8e,Seventh-day Adventist Attorneys' Conference & ...,"""Keynote Speaker: Judge James E. Graves, Jr., ...",2016-07-27T22:00:00Z,2016-10-23T19:00:00Z,NaN,7592400,"""community,education""",community,America/Los_Angeles,...,"""36.10212,-114.932817""",Spa Ravella at Hilton Lake Las Vegas,"1610 Lake Las Vegas Parkway\nHenderson, NV 890...",locality,21,54.0,NaN,active,2017-12-26T08:03:43Z,indoor
1,nvABpR9LXwwk,West Excellence: WRBLSA Academic Retreat,"""We cordially invite you to participate in the...",2016-10-07T15:00:00Z,2016-10-09T03:00:00Z,NaN,129600,"""conference,education,family""",conferences,America/Los_Angeles,...,"""36.106732,-115.143628""",NaN,NaN,locality,37,52.0,0.0,active,2016-09-04T00:02:42Z,NaN
2,PlVJdqVPJzXm,Life Benefits Wealth Summit 2016,"""About The Wealth SummitThis Wealth Summit is ...",2016-10-07T15:00:00Z,2016-10-09T21:00:00Z,NaN,194400,"""business,conference""",conferences,America/Los_Angeles,...,"""36.020702,-115.089629""",Green Valley Ranch Resort Spa & Casino,"2300 Paseo Verde Parkway\nHenderson, NV 89052\...",locality,42,63.0,0.0,active,2016-08-03T03:38:16Z,indoor
3,1KA12OQWR3pl,TIA Technical Conference,NaN,2016-10-07T16:00:00Z,2016-10-09T01:00:00Z,NaN,118800,"""conference,education""",conferences,America/Los_Angeles,...,"""36.130707,-115.151831""",Las Vegas Convention Center,"3150 Paradise Road\nLas Vegas, NV 89109\nUnite...",locality,44,58.0,0.0,active,2017-07-28T00:53:30Z,indoor
4,TA5fR5zPt5VCF6H3JY,International Baking Industry Exposition,NaN,2016-10-08T07:00:00Z,2016-10-12T06:59:59Z,NaN,345599,"""expo,food""",expos,America/Los_Angeles,...,"""36.131324,-115.150362""",NaN,NaN,locality,77,92.0,76.0,active,2019-09-11T23:20:23Z,NaN

In [19]:
events.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99076 entries, 0 to 99075
Data columns (total 21 columns):
id                         99076 non-null object
title                      99076 non-null object
description                30641 non-null object
start                      99076 non-null object
end                        99076 non-null object
predicted_end              730 non-null object
duration                   99076 non-null int64
labels                     99076 non-null object
category                   99076 non-null object
timezone                   98106 non-null object
country                    99076 non-null object
location                   99076 non-null object
venue_name                 91581 non-null object
venue_formatted_address    90328 non-null object
scope                      99076 non-null object
rank                       99076 non-null int64
local_rank                 97422 non-null float64
aviation_rank              44424 non-null float64
state                      99076 non-null object
first_seen                 99075 non-null object
venue_type                 91581 non-null object
dtypes: float64(2), int64(2), object(17)
memory usage: 15.9+ MB

In [20]:
events.category.unique()

array(['community', 'conferences', 'expos', 'observances',
       'performing-arts', 'concerts', 'festivals', 'sports', 'disasters',
       'airport-delays', 'public-holidays', 'daylight-savings',
       'politics', 'severe-weather', 'school-holidays', 'terror'],
      dtype=object)

In [21]:
events.timezone.unique()

array(['America/Los_Angeles', nan, 'America/Chicago'], dtype=object)

In [23]:
import mpu

def draw_events_data(events, store_name, date_min=DATE_MIN, date_max=DATE_MAX, 
                     lat_store=LAT_STORE, lon_store=LON_STORE):
    
    def compute_time(df):
        if df['start'].hour >= 12:
            return 'pm'
        else:
            return 'am'
    
    def compute_dist(df, store_name):
        return mpu.haversine_distance((df.latitude, df.longitude), 
                                      (lat_store[store_name], lon_store[store_name]))
    
    def compute_capacity(df):
        # exp((rank + 19.769) / 9.6442) by reverse engineering
        return np.exp((df['rank'] + 19.769) / 9.6442)
    
    def compute_impact(df, method):
        if method == 'linear':
            return df['rank'] / df['distance']
        if method == 'exp':
            return np.sqrt(np.exp(df['rank'])) / np.square(df['distance'])
    
    # Split location variable into longitude and latitude
    lat = [float(events.location[i].strip("\"").split(',')[0]) \
           for i in range(len(events))]
    lon = [float(events.location[i].strip("\"").split(',')[1]) \
           for i in range(len(events))]
    events['longitude'] = lon
    events['latitude'] = lat
    
    events.start = pd.to_datetime(events.start)
    events.end = pd.to_datetime(events.end)
    
    # Extract time (am/pm)
    events['start_time'] = events.apply(compute_time, axis=1)
    
    # Generate a date range for the events
    events['start'] = events.start.dt.tz_localize(None).dt.normalize()
    events['end'] = events.end.dt.tz_localize(None).dt.normalize()
    
    date_range = events.apply(lambda x: pd.date_range(x.start, x.end).tolist(), 
                              axis=1)
    
    events = events.drop(['id', 'start', 'end', 'predicted_end', \
                          'timezone', 'country', 'location', \
                          'venue_formatted_address', 'state', 'first_seen'], 1)
    
    events_by_date = pd.DataFrame(columns = events.columns)
    dates_rearr = []
    for i in range(len(events)):
        for dates in date_range[i]:
            if (dates <= date_max) & (dates >= date_min):
                dates_rearr.append(dates)
                events_by_date = events_by_date.append(events.iloc[i])
    
    # Aggregate new features
    # Distance in miles
    events_by_date['distance'] = events_by_date.apply(compute_dist, 
                                                  store_name=store_name, axis=1).div(1.609)
    # Estimated capacity
    events_by_date['est_capacity'] = events_by_date.apply(compute_capacity, axis=1)
    # Impact
    events_by_date['impact_linear'] = events_by_date.apply(compute_impact, method='linear', axis=1)
    events_by_date['impact_exp'] = events_by_date.apply(compute_impact, method='exp', axis=1)
    
    events_by_date['date'] = dates_rearr
    # Check if an event is annual
    events_by_date['year'] = events_by_date.date.dt.year
    is_annual = events_by_date.groupby('title')['year'].nunique().to_frame('is_annual').reset_index()
    is_annual['is_annual'] = is_annual.eval('is_annual == 3').astype(int)
    events_by_date = pd.merge(events_by_date, is_annual, on='title')
    
    # Reorganize the columns
    cols = ['title', 'description', 'labels', 'category', \
            'date', 'year', 'is_annual', 'start_time', 'duration', \
            'venue_name', 'scope', 'venue_type', 'est_capacity', 'distance', 'longitude', 'latitude', \
            'rank', 'local_rank', 'aviation_rank', 'impact_linear', 'impact_exp']
    events_by_date = events_by_date[cols]
    
    # For efficiency, write out the data
    events_by_date.to_csv('events_' + store_name + '.csv', index=False)

In [24]:
draw_events_data(events, 'LAS VEGAS NORTH')

In [25]:
events_by_date = pd.read_csv('events_LAS VEGAS NORTH.csv')

In [26]:
events_by_date.date = pd.to_datetime(events_by_date.date, format='%Y-%m-%d')

In [27]:
events_by_date.head(3)

,title,description,labels,category,date,year,is_annual,start_time,duration,venue_name,...,venue_type,est_capacity,distance,longitude,latitude,rank,local_rank,aviation_rank,impact_linear,impact_exp
0,UNLVino,"""From its humble beginnings in the Southern Wi...","""community,festival,food,fundraiser""",festivals,2017-04-02,2017,0,am,259199,Paris Las Vegas,...,indoor,7283.191844,4.086249,-115.170671,36.112541,66,83.0,60.0,16.151732,1.285489e+13
1,UNLVino,"""From its humble beginnings in the Southern Wi...","""community,festival,food,fundraiser""",festivals,2019-04-12,2019,0,am,183600,UNLVino,...,indoor,7283.191844,1.492260,-115.153528,36.149392,66,84.0,0.0,44.228223,9.638934e+13
2,UNLVino,"""From its humble beginnings in the Southern Wi...","""community,festival,food,fundraiser""",festivals,2019-04-13,2019,0,am,183600,UNLVino,...,indoor,7283.191844,1.492260,-115.153528,36.149392,66,84.0,0.0,44.228223,9.638934e+13

In [28]:
events_by_date.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83957 entries, 0 to 83956
Data columns (total 21 columns):
title            83957 non-null object
description      26764 non-null object
labels           83957 non-null object
category         83957 non-null object
date             83957 non-null datetime64[ns]
year             83957 non-null int64
is_annual        83957 non-null int64
start_time       83957 non-null object
duration         83957 non-null int64
venue_name       78061 non-null object
scope            83957 non-null object
venue_type       78061 non-null object
est_capacity     83957 non-null float64
distance         83957 non-null float64
longitude        83957 non-null float64
latitude         83957 non-null float64
rank             83957 non-null int64
local_rank       82096 non-null float64
aviation_rank    45511 non-null float64
impact_linear    83957 non-null float64
impact_exp       83957 non-null float64
dtypes: datetime64[ns](1), float64(8), int64(4), object(8)
memory usage: 13.5+ MB